body {
    background-color: blue;
    display: flex;
    flex-direction: column;  
}

nav {
    border: 2px black solid;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 20vh;
}

h1{
    color: white;
    /* text-emphasis: bold; */
}

#links{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    flex-basis: 400px;
    align-items: flex-start;
}

main {
    border: 2px black solid;
    display: flex;
    width: 100vw;
    height: 100vh;
}

#aside1{
    width: 20vw;
    display: flex;
    flex-direction: column-reverse;
}

#aside2 {
    width: 20vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;


}

ul{
    color: white;
    list-style-type: none;
}

h2{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

h4{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#explore{
    background-color: white;
}

button {
    background-color: transparent;
    border: 2px solid white ;
    border-radius: 25px ;
    height: 60px;
    width: 180px;
    margin-top: 25px;
}

#main {
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 80vh;
    padding: 0 60px;   
}

i {
    color: white;

}